.item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.item h3 {
  font-size: 20px;
  margin: 10px 0;
  color: #333;
}

.item p {
  color: #666;
  font-size: 16px;
  margin: 8px 0;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item .item-address {
  margin-top: 10px;
  font-size: 14px;
  color: #777;
}
@media(max-width:1280px){
  .item{
    width: 220px;
    font-size: 14px;
  }
  .item img{
    width: 220px;
  }
  .item-price old{
    font-size: 14px;
  }
}
@media(max-width:1024px){
  .item{
    width: 170px;
    font-size: 13px;
  }
  .item img{
    width: 170px;
  }
  .item-price old{
    font-size: 10px;
  }
}
@media(max-width:800px){
  .item{
    width: 120px;
    font-size: 12px;
  }
  .item img{
    width: 120px;
  }
  .item-price old{
    font-size: 10px;
  }

}
@media(max-width:500px){
  .item{
    width: 160px;
    font-size: 12px;
  }
  .item img{
    width: 160px;
  }
  .item-price old{
    font-size: 10px;
  }
}